<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="admin/common/head"></div>
</head>

<body class="no-skin">

<th:block th:insert="admin/common/menu" th:remove="tag"></th:block>

<div class="main-container" id="main-container">
    <th:block th:insert="admin/common/sidebar" th:remove="tag"></th:block>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>

                    <li>
                        <a href="#">Forms</a>
                    </li>
                    <li class="active">Form Elements</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">

                <div class="page-header">
                    <h1>
                        Form Elements
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Common form elements and layouts
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form id="formPlace" class="form-horizontal" role="form" th:action="@{/admin/place/updatePlace}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="place_id" th:value="${placeObject.id}"/>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="place_name"> Tên Bài Viết(Địa điểm) </label>

                                <div class="col-sm-9">
                                    <input type="text" id="place_name" name="place_name" placeholder="Nhập tên" class="col-xs-10 col-sm-9" th:value="${placeObject.name}" />
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Ảnh </label>

                                <div class="col-sm-9">
                                    <input type="file" id="place_image" name="place_image" class="col-xs-10 col-sm-9" />
                                    <a id="imageLabel" href="#" target="_blank" th:text="${placeObject.image}"></a>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="place_title"> Tiêu Đề(Nội dung tóm tắt) </label>

                                <div class="col-sm-9">
                                    <input type="text" id="place_title" name="place_title" placeholder="Nhập tiêu " class="col-xs-10 col-sm-9" th:value="${placeObject.title}" />
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="place_content"> Nội dung </label>

                                <div class="col-sm-9">
                                    <textarea type="text" id="place_content" name="place_content" class="col-xs-10 col-sm-9" rows="5"><th:block th:text="${placeObject.content}"></th:block></textarea>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> hoặc tải nội dung lên bằng file .docx <br/><a th:href="@{/admin/place/downloadFile}"> xem file mẫu</a></label>

                                <div class="col-sm-9">
                                    <input type="file" id="place_word" name="place_word" class="col-xs-10 col-sm-9" />
                                    <a id="wordLabel" href="#" target="_blank" th:text="${placeObject.fileword}"></a>
                                </div>

                            </div>




                            <div class="form-group">
                                <div class="col-sm-12" style="text-align: center;">
                                    <button type="button" onclick="return createNew()">Cập nhật</button>
                                    <input type="reset" value="Hủy bỏ">
                                </div>
                            </div>

                            <div class="hr hr-24"></div>


                        </form>


                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <th:block th:insert="admin/common/footer" th:remove="tag"></th:block>

</div><!-- /.main-container -->

<th:block th:insert="admin/common/foot" th:remove="tag"></th:block>
<th:block th:insert="admin/common/template" th:remove="tag"></th:block>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        $("#place_word").on("change", function () {
            if ($('#place_word')[0].files[0] != null) {
                document.getElementById("place_content").disabled = true;
            }else{
                document.getElementById("place_content").disabled = false;
            }
        })
    });

    function createNew() {
        var check = validate();
        if (check) {
            document.getElementById("formPlace").submit();
        } else
            return false;
    }
    function validate() {

        if($('#place_name').val()==""){
            swal({
                position : 'top',
                icon : 'error',
                title : 'Thông báo',
                text : 'Tên bài viết(địa điểm) không được để trống'
            });
            return false;
        }

        if ($('#place_image')[0].files[0] != null) {
            switch ($('#place_image')[0].files[0].type) {
                case 'image/jpeg':
                    break;
                case 'image/gif':
                    break;
                case 'image/png':
                    break;
                case 'image/tiff':
                    break;
                default:
                    swal({
                        position : 'top',
                        icon : 'error',
                        title : 'Thông báo',
                        text : 'File image không đúng định dạng, định dạng đúng .jpg, .tiff, .gif, .png'
                    });
                    return false;
                    break;
            }
            if ($('#place_image')[0].files[0].size > 5 * 1024 * 1024) {
                swal({
                    position : 'top',
                    icon : 'error',
                    title : 'Thông báo',
                    text : 'Dung lượng image không được vượt quá 5MB'
                });
                return false;
            }
        }

        if($('#place_title').val()==""){
            swal({
                position : 'top',
                icon : 'error',
                title : 'Thông báo',
                text : 'Tiêu Đề(Nội dung tóm tắt) không được để trống'
            });
            return false;
        }

        if ($('#place_word')[0].files[0] != null) {
            if ($('#place_word')[0].files[0].type != "application/vnd.openxmlformats-officedocument.wordprocessingml.document") {
                swal({
                    position: 'top',
                    icon: 'error',
                    title: 'Thông báo',
                    text: 'File nội dung phải có định dạng .docx'
                });
                return false;
            }
            if ($('#place_image')[0].files[0].size > 5 * 1024 * 1024) {
                swal({
                    position : 'top',
                    icon : 'error',
                    title : 'Thông báo',
                    text : 'Dung lượng file .docx không được vượt quá 5MB'
                });
                return false;
            }
        }


        return true;

    }

</script>
</body>
</html>
